<%- include("partials/header"); -%>

<section id="Rent">
  <div class="filter">
    <form id="filterForm" method="post">
      <input
        type="number"
        name="price-from"
        placeholder="Enter minimum price"
        title="Cheapest property is worth = <%= filter.minPrice %>"
      />
      <input
        type="number"
        name="price-to"
        placeholder="Enter minimum price"
        title="Most expensive property is worth = <%= filter.maxPrice %>"
      />
      <input
        type="number"
        name="area-from"
        placeholder="Enter minimum area"
        title="Cheapest property is worth = <%= filter.minArea %>"
      />
      <input
        type="number"
        name="area-to"
        placeholder="Enter minimum area"
        title="Most expensive property is worth = <%= filter.maxArea %>"
      />

      <select name="beds">
        <option selected value="">Select number of beds</option>
        <% for ( let i = filter.minBeds; i<=filter.maxBeds; i++ ) { %>
        <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
      <select name="baths">
        <option selected value="">Select number of baths</option>
        <% for ( let i = filter.minBaths; i<=filter.maxBaths; i++ ) { %>
        <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>

      <select name="brand">
        <option selected value="">Select Brand</option>
        <% for ( let brand of filter.brands ) { %>
        <option value="<%= brand %>"><%= brand %></option>
        <% } %>
      </select>
      <select name="type">
        <option selected value="">Select Type</option>
        <% for ( let type of filter.types ) { %>
        <option value="<%= type %>"><%= type %></option>
        <% } %>
      </select>

      <input type="text" name="propertyName" placeholder="Search by name" />

      <button type="submit">Search</button>
    </form>
  </div>
  <div class="filter-results">
    <ul class="properties">
      <% for ( let property of properties ) { %>
      <li
        class="client"
        style="border: 1px solid grey; padding: 15px 40px; width: max-content"
      >
        <p><%= property.name %></p>
        <p><%= property.price %></p>
        <p><%= property.address %></p>
        <p><%= property.area %></p>
        <p><%= property.type %></p>
        <p><%= property.bedrooms %></p>
        <p><%= property.bathrooms %></p>
        <p><%= property.brand %></p>
        <img
          src="/image/off-project/<%= property.imageLink %>"
          width="20%"
          alt=""
        />
      </li>

      <% } %>
    </ul>
  </div>

  <!-- <div class="container my-5 ">
       <div class="row">
           <div class="col-lg-12">
               <div class="row">
                   <div class="col-lg-3">
                        <img src="/image/off-project/1.jpg" style="width: 20.6rem;" alt="">
                   </div>
                   <div class="col-lg-4 border-top border-bottom">
                    <div class="card border-0">
                        <div class="card-body">
                          <h5 class="card-title">100,000 AED</h5>
                          <p class="card-text">NEW COMMUNITY BY EMAAR EDEN, THE VALLEY</p>
                          <p class="card-text"><table>
                            <tr>
                                <th><p class="fw-bold m-0">Villa</p></th>
                                <th><span class="ms-3 ">4</span></th>
                                <th><div class=" ms-3">5</div></th>
                                <th><div class=" ms-3">24,000 Sq.Ft</div></th>
                              </tr>
                        </table> </p>
                        <p class="card-text fw-normal my-4">
                            Eden, The Valley, Dubai                            
                        </p>
                          <table class="my-2">
                              <tr>
                                <th><a href="#" class="btn btn-primary">View</a></th>
                                  <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                                  <th><a href="#" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                              </tr>
                          </table>
                        </div>
                      </div>
                   </div>
                   <div class="col-lg-3 p-5 border-top border-start border-bottom border-end">
                    <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
                       <img src="/image/list-of-developer/emmar.png" style="width: 15rem;" alt="">
                      
                   </div>
               </div>
           </div>
       </div>
    </div> -->
</section>
<script type="text/x-handlebars-template" id="property-template">
  <li
    class="client"
    style="border: 1px solid grey; padding: 15px 40px; width: max-content"
  >
    <p>{{name}}</p>
    <p>{{price}}</p>
    <p>{{address}}</p>
    <p>{{area}}</p>
    <p>{{type}}</p>
    <p>{{bedrooms}}</p>
    <p>{{bathrooms}}</p>
    <p>{{brand}}</p>
    <img src="/image/off-project/{{imageLink}}" width="20%" alt="" />
  </li>
</script>

<%- include("partials/footer"); -%>
